@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --darkGray: #2d3748;
  --gray: #4a5568;
  --grayLight: #f7fafc;
  --primary: #6b46c1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.navbar {
  height: 85px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}
.brand a {
  color: var(--darkGray);
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}
.navbar-center {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.navbar-center a {
  color: var(--darkGray);
}
.navbar-right {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right a {
  color: var(--darkGray);
}
