@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --darkGray: #2d3748;
  --gray: #4a5568;
  --grayLight: #f7fafc;
  --primary: #6b46c1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.navbar {
  height: 85px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}
.brand a {
  color: var(--darkGray);
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}
.navbar-center {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.navbar-center a {
  color: var(--darkGray);
}
.navbar-right {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right a {
  color: var(--darkGray);
}
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--darkGray);
  border-radius: 3px;
  transition: all 0.5s;
}
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
/* Responsive Mobile */
@media screen and (max-width: 670px) {
  .navbar-center {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
}
